{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <script type="text/javascript" src="/Blog/code.js"></script> -->
        <script type="text/javascript" src="{% static 'js/logo_code.js'%}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Delve Deeper</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Sofia|Rubik Moonrocks|Amatic SC|Stick No Bills|Orbitron|Special Elite|Blaka|Marck Script|Audiowide|Splash|Ubuntu">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css'%}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top" style="margin:0px; top:-7px;">
            <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand" href="/Blog/"
                        style="font-family:'Rubik Moonrocks'; font-size:20px; margin-left:10px;">Delve Deeper</a>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="stories_link" href="/Blog/Stories/">Words</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="code_link" href="/simple Fractal Tree/">Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="art_link" href="#">Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gallery_link" href="/Blog/Gallery/">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="about_link" href="/Blog/about.php">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" id="disabled_link"> </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link disabled" href="#">{{ user.username }} </a> 
                    </li>
                    <li class="nav-item">
                       <a  class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" class="top-menu">Login</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a style="color:white;" href="{% url 'post_new' %}" class="top-menu">
                        {% include "./icons/file-earmark-plus.svg" %}
                    </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
    <!-- <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css'%}">
    </head>
    <body>
        <header class="page-header">
          <div class="container">
            

            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                    {% include "./icons/file-earmark-plus.svg" %}
                </a>
                <p class="top-menu">Hello {{ user.username }} 
                    <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
                </p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
          </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                    content stuff
                </div>
            </div>
        </main> 
    </body> -->
</html>