{% extends 'blog/base.html'%}

{% block content %}
    <div class="container-fluid article-container" >
    <h2> Meet the tags!</h2>
    {% for tag in tags %}
        <a href="{% url 'tag_post_list' pk=tag.pk %}" class="badge badge-pill badge-tag" style="background-color: var(--{{tag.get_color_display}});">{{ tag.name }}</a>
    {% endfor %}

    {% if user.is_authenticated %}
    <a href="{% url 'tag_new' %}" class="badge badge-pill badge-tag new-tag">new Tag</a>
    {% endif %}
    {% if current_tag %}
        <h2> Search results for tag  <span class="badge badge-pill badge-tag" style="background-color: var(--{{current_tag.get_color_display}});">{{ current_tag.name }}</span></h2>
    {% endif %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                <i class="fa fa-calendar"></i> {{ post.published_date }}
            </time>
            
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="tag-box">
                {% for tag in post.tags.all %}
                <a href="{% url 'tag_post_list' pk=tag.pk %}" class="badge badge-pill badge-tag" style="background-color: var(--{{tag.get_color_display}});">{{ tag.name }}</a>
                {% endfor %}

            </div>
            <p>{{ post.brief_description|linebreaksbr }}</p>
        </article>
    {% endfor %}
    </div>
{% endblock %}