{% extends 'blog/base.html' %}

{% block content %}
{% autoescape off %}

{% if post.thumbnail %}
{% if post.show_whole_thumbnail %}
        <div class="container-fluid text-center post-header-box background-color-{{post.background_color}} show-complete-image" style="background-image: url('{{ post.thumbnail.url}}');" >
    {% else %}
        <div class="container-fluid text-center post-header-box background-color-{{post.background_color}}" style="background-image: url('{{ post.thumbnail.url}}');" >
    {% endif %}
{% else %}
    <div class="container-fluid text-center post-header-box background-color-{{post.background_color}}" >
{% endif %}
{% if post.show_title_in_header %}
    <table style="height: 100%; width: 100%;">
        <td class= "{{post.get_title_align_display}}">
            <div class = "title-background-{{post.get_title_background_display}}" style ="color:var(--{{post.get_title_color_display}})">{{ post.title }}</div>
        </td>
    </table>
    {% endif %}
</div>
    <div class="container-fluid article-container">
        
        <article class="post">

            <aside class="actions">
                {% if user.is_authenticated %}
                    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                {% endif %}
            </aside>

            {% if post.published_date %}
                <time class="date">
                    <i class="fa fa-calendar"></i> {{ post.published_date }}
                </time>
            {% endif %}
            <div class="tag-box">
                {% for tag in post.tags.all %}
                <a href="{% url 'tag_post_list' pk=tag.pk %}" class="badge badge-pill badge-tag {{tag.style}}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            {% if post.show_title_below_header %}
            <h2>{{ post.title }}</h2>
            {% else %}
            <br>
            {% endif %}
            <br>

            {% if False %}
            <img src="{{ post.thumbnail.url}}" alt="connect" style="max-height:300px">
            {% endif %}
             
            {% if "<p>" in post.text %}
                <p>{{ post.text}}</p>
            {% else %}
                <p>{{ post.text|linebreaksbr }}</p>
            {% endif %}

            
            {% if post.authors_comment %}
            <br>
            <button class="accordion">Author's Comment</button>
            <div class="panel">
                <p>{{ post.authors_comment|linebreaksbr }}</p>
            </div>
            {% endif %}
        </article>
        {% endautoescape %}
        
    </div>
{% endblock %}