{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid bg-primary  text-center post-header-box" style="background-image: url('{{ post.thumbnail.url}}');">
    <table style="height: 100%; width: 100%;">
        <td class= "{{post.get_title_align_display}}">
            <div class = "background-{{post.get_title_background_display}}" style ="color:var(--{{post.get_title_color_display}})">{{ post.title }}</div>
        </td>
    </table>
</div>
    <div class="container-fluid article-container">
        
        <article class="post">
            <aside class="actions">
                {% if user.is_authenticated %}
                    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                {% endif %}
            </aside>

            {% if post.published_date %}
                <time class="date">
                    <i class="fa fa-calendar"></i> {{ post.published_date }}
                </time>
            {% endif %}
            <div class="tag-box">
                {% for tag in post.tags.all %}
                <a href="{% url 'tag_post_list' pk=tag.pk %}" class="badge badge-pill badge-tag {{tag.style}}">{{ tag.name }}</a>
                {% endfor %}
            </div>

            <h2>{{ post.title }}</h2>

            {% if False %}
            <img src="{{ post.thumbnail.url}}" alt="connect" style="max-height:300px">
            {% endif %}

            <p>{{ post.text|linebreaksbr }}</p>
            {% if post.authors_comment %}
            <br>
            <button class="accordion">Author's Comment</button>
            <div class="panel">
                <p>{{ post.authors_comment|linebreaksbr }}</p>
            </div>
            {% endif %}
        </article>
    </div>
{% endblock %}