


.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'ubuntu', fantasy;
}

h1{
    font-family: helevetica, fantasy;
}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 100px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}


canvas {
    /*background-color:rgba(107, 202, 226, 0.5);*/
    width:100%;
    margin: 0px;
    
}

/* "static/pictures/strudel2.jpg");*/

#canvasBox {
    background-image: url("../pictures/strudel2.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*background-attachment: fixed;*/
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    max-height: 500px;
    text-align: center;
}

h1 {
    color:rgb(47, 27, 227);
}

.shadedBox{
    background-color:lightblue;
    box-shadow: 10px 10px 10px grey;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    height: 200px;
}
