:root{
    /* Defining cutstom colours. These are the same as in the logo. */
    --cyan: rgb(0,255,255); 
    --cyan2 : rgb(0,206,209);
    --seagreen: rgb(32,178,170); 
    --cyan4: rgb(47,79,79);

    --lightblue: rgb(0,191,255);
    --pastelblue: rgb(100,149,237);
    --blue: rgb(0,0,205);
    --ultramarine: rgb(0,0,128);
    --navyblue: rgb(25,25,112);

    --pastelpurple: rgb(123,104,238);
    --purple: rgb(153,50,204);

    /* these are not in the logo*/
    --cyan5: rgb(30, 47, 47);
    --inkblack: rgb(4, 8, 37);

}

/* Post stuff */
.date {
    color: var(--cyan4);/*#828282;*/
    padding-right: 10px;
}

.save {
    float: right;
}

.post {
    margin-top: 35px;
    margin-bottom: 35px;
    width:100%;
}

.post > .date,
.post > .actions {
    float: right;
}

.article-container{
    width: 80%;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Nice buttons */
.btn-secondary,
.btn-secondary:visited {
    color: var(--pastelblue);
    background: none;
    border-color: var(--pastelblue);
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: var(--pastelblue);
}

/* canvas for the animated logo */

canvas {
    /*background-color:rgba(107, 202, 226, 0.5);*/
    width:100%;
    margin: 0px;
    
}



#canvasBox {
    background-image: url("../pictures/strudel2.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*background-attachment: fixed;*/
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    max-height: 500px;
    text-align: center;
}

/* Defining colors for headings and fonts */

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'ubuntu', fantasy;
}

/*h1{
    color: var(--lightblue ) ;
}
h2{
    color: var(--pastelblue);
}
h3{
    color: var(--blue);
}
h4{
    color:var(--ultramarine);
}
h5{
    color:var(--navyblue);
}*/

h1{
    color: var(--lightblue);
    
}
h2{
    color: var(--pastelblue ) ;
    
}
h3{
    color: var(--pastelpurple);
}
h4{
    color:var(--seagreen);
}
h5{
    color:var(--inkblack);
}

.post h2 a,
.post h2 a:visited {
    color: var(--pastelblue);
}

.signature{
    position:relative;
    font-family: Splash, fantasy;
    font-size: 30px;
    padding: 10px 0px;
    text-align:left;
}



/* Stuff for forms */
div.form{
    display: block;
    text-align: center;
}
form{
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.shadedBox{
    background-color:lightblue;
    box-shadow: 10px 10px 10px grey;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    height: 200px;
}

.column-checkbox {
    padding-top: 20px;
    color: var(--seagreen);
}

.column-checkbox .checkbox {
    display: block;
    float: right;
    width: 25%;
}

/* Styles for tags */


a:link.badge-tag ,
a:visited.badge-tag {
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

a:hover.badge-tag,
a:active.badge-tag {
    box-shadow: 2px 2px 4px grey;
}

div.tag-box{
    float:right;
    padding: 10px;
}

.pp{ /* pastelpurple */
    background-color: var(--pastelpurple);
}

.sg{ /* seagreen */
    background-color: var(--seagreen);
}

.pb{ /* pastelblue */
    background-color: var(--pastelblue);
}

.ds{ /* dark sky */
    background-color: var(--inkblack);
}

.nb{ /* navy blue */
    background-color:var(--navyblue);
}

.lg,
a:link.lg
a:visited.lg{ /* light grey */
    background-color: lightgrey;
    color: var(--inkblack);
}

a:link.new-tag ,
a:visited.new-tag {
    background-color:white;
    color: var(--inkblack);
    border-color: var(--inkblack);
    border-width: 1px;
    border-style: dashed;
    border-radius: 20px;
    padding: 3px 5px;
}