:root{
    /* Defining cutstom colours. These are the same as in the logo. */
    --cyan: rgb(0,255,255); 
    --cyan2 : rgb(0,206,209);
    --seagreen: rgb(32,178,170); 
    --cyan4: rgb(47,79,79);

    --lightblue: rgb(0,191,255);
    --pastelblue: rgb(100,149,237);
    --blue: rgb(0,0,205);
    --ultramarine: rgb(0,0,128);
    --navyblue: rgb(25,25,112);

    --pastelpurple: rgb(123,104,238);
    --purple: rgb(153,50,204);

    /* these are not in the logo*/
    --cyan5: rgb(30, 47, 47);
    --inkblack: rgb(4, 8, 37);
    --anthrazit: rgb(33,39,41);
    --lightgrey: rgb(211,211,211);
    --white: white;
}

/* Post stuff */
.date {
    color: var(--cyan4);/*#828282;*/
    padding-right: 10px;
}

.save {
    float: right;
}

.post {
    margin-top: 35px;
    margin-bottom: 35px;
    /*width:100%;*/
}

.post > .date,
.post > .actions {
    float: right;
}

.article-container{
    width: 80%;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Nice buttons */
.btn-secondary,
.btn-secondary:visited {
    color: var(--pastelblue);
    background: none;
    border-color: var(--pastelblue);
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: var(--pastelblue);
}



/* Defining colors for headings and fonts */

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'ubuntu', fantasy;
}

/*h1{
    color: var(--lightblue ) ;
}
h2{
    color: var(--pastelblue);
}
h3{
    color: var(--blue);
}
h4{
    color:var(--ultramarine);
}
h5{
    color:var(--navyblue);
}*/

h1{
    color: var(--lightblue);
    
}
h2{
    color: var(--pastelblue ) ;
    
}
h3{
    color: var(--pastelpurple);
}
h4{
    color:var(--seagreen);
}
h5{
    color:var(--inkblack);
}

.post h2 a,
.post h2 a:visited {
    color: var(--pastelblue);
}

.signature{
    position:relative;
    font-family: Splash, fantasy;
    font-size: 30px;
    padding: 10px 0px;
    text-align:left;
}



/* Stuff for forms */
div.form{
    display: block;
    text-align: center;
}
form{
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post-form textarea,
.post-form input {
    width: 100%;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
}



.shadedBox{
    background-color:lightblue;
    box-shadow: 10px 10px 10px var(--lightgrey);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    height: 200px;
}

.column-checkbox {
    padding-top: 20px;
    color: var(--seagreen);
}

.column-checkbox .checkbox {
    display: block;
    float: right;
    width: 25%;
}

/* Styles for tags */


a:link.badge-tag ,
a:visited.badge-tag {
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

a:hover.badge-tag,
a:active.badge-tag {
    box-shadow: 2px 2px 4px grey;
}

div.tag-box{
    float:right;
    padding: 5px;
    padding-right:0px;
    max-width: 60%;
    
}
.tag-box-badge{
    float:right;
    margin:2.5px 0px 2.5px 5px;
}

.lb{ /* lightblue */
    background-color: var(--lightblue);
}

.pp{ /* pastelpurple */
    background-color: var(--pastelpurple);
}

.sg{ /* seagreen */
    background-color: var(--seagreen);
}

.pb{ /* pastelblue */
    background-color: var(--pastelblue);
}

.ds{ /* dark sky */
    background-color: var(--inkblack);
    /*background-image: linear-gradient(to right, var(--lightblue), var(--inkblack));*/
}

.nb{ /* navy blue */
    background-color:var(--navyblue);
}

.dd{ /* delve deeper */
    background-image: url("../pictures/strudel2.jpg");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: 500%;
}

.gd,
a:link.gd,
a:visited.gd{ /* gold */
    background-image: linear-gradient(to right, rgb(255, 245, 132),rgb(255, 197, 52), rgb(169, 137, 56),rgb(255, 197, 52) );
    color: var(--inkblack);

}

.sv,
a:link.sv,
a:visited.sv{ /* silver */
    background-image: linear-gradient(to right, rgb(215, 214, 206),rgb(127, 123, 111), rgb(50, 48, 44),rgb(127, 123, 111) );
}

.lg,
a:link.lg,
a:visited.lg{ /* light grey */
    background-color: var(--lightgrey);
    color: var(--inkblack);
}

a:link.new-tag ,
a:visited.new-tag {
    background-color:white;
    color: var(--inkblack);
    border-color: var(--inkblack);
    border-width: 1px;
    border-style: dashed;
    border-radius: 20px;
    padding: 3px 5px;
}

/* Stuff for the accordion (expandable author's comment) */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 20px ;
    outline: none;
    
    transition: 0.4s;

    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;

  }
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: var(--navyblue);/*#ccc;*/
    background-image: url("../pictures/strudel2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
  }

.accordion.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0px 18px;
    background-color:var(--anthrazit);
    color:white;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

.accordion:after {
    content: '\002B';
    
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
    color: white;
}

/* canvas for the animated logo */

canvas {
    /*background-color:rgba(107, 202, 226, 0.5);*/
    width:100%;
    margin: 0px;
    
}



#canvasBox {
    background-image: url("../pictures/strudel2.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    max-height: 500px;
    text-align: center;
}

/* Post header stuff */

.post-header-box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:400px;
    font-size:60px;
    padding:0px;
    margin: 0px;
    text-align: center;
}

.picture-post-header-box{
    
    margin-top: 50px;
    margin-bottom: 20px;
    
    padding:5px;
    
}

.gold-frame{
    border: double 20px transparent;
    border-image: linear-gradient(to bottom left, rgb(255, 245, 132),rgb(255, 197, 52), rgb(169, 137, 56),rgb(255, 197, 52) ) /*url('../pictures/strudel2.jpg')*/ 50 stretch;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box
}

.picture-horizontal{
    width: 90%;
    max-width: 800px;
}

.picture-vertical{
    width:50%;
    max-width: 500px;
}

.title-background-grey{
    background-color:rgba(0,0,0,0.25);
}

.title-background-black{
    background-color:rgb(0, 0, 0);
}

.title-background-white-transparent{
    background-color:rgba(255, 255, 255, 0.5);
}

.title-background-white{
    background-color:rgba(255, 255, 255, 1);
}

.title-background-none{
    background-color:transparent;
}

.title-bg-blue{
    background-color:var(--lightblue);
}
/* Post Header Box background colors.*/

.background-color-rbl{
    background-image: linear-gradient(to bottom left, var(--seagreen), var(--lightblue), var(--pastelpurple), var(--purple), var(--navyblue));
}

.background-color-rbr{
    background-image: linear-gradient(to bottom right, var(--seagreen), var(--lightblue), var(--pastelpurple), var(--purple), var(--navyblue));
}

.background-color-gd{
    background-image: linear-gradient(to right, rgb(255, 245, 132),rgb(255, 197, 52), rgb(169, 137, 56),rgb(255, 197, 52) );
}

.background-color-wh{
    background-color:white;
}

.background-color-bl{
    background-color: black;
}

.background-color-lb{
    background-color: var(--lightblue);
}

.background-color-pb{
    background-color: var(--pastelblue);
}
.background-color-pp{
    background-color: var(--pastelpurple);
}

.background-color-sg{
    background-color: var(--seagreen);
}

.background-color-pr{
    background-color: var(--purple);
}

.thumbnail-post-list{
    /*width:100%;*/
    height: 100%;
    border-radius:25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 4px grey;
}

.show-complete-image{
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-nav-bar{
    position:relative; 
    top: 5px;
}

.rounded-corners{
    border-radius: 20px;
}
.comment{
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 10px;
    background-color: var(--lightgrey);
    color:black;
    border-radius: 10px;
}